<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v2.0.50727" />
    <supportedRuntime version="v1.1.4322" />
    <supportedRuntime version="v1.0.3705" />
  </startup>
  <appSettings>
    <add key="ServiceName" value="BlackfishSQL" />
          <!--
                Blackfish SQL system properties are documented in the
                Borland.Data.DataStore.SystemProperties class.
                Empty or missing values cause default settings to be used.
            -->
          <!--
                Min cache size in blocks to start with.  Default block size
                for databases is 4096 bytes.
                Sets the minumum number of cache blocks in the cache.  Note that all
                databases opened in the same process share the same cache.
          -->
          <add key="blackfishsql.minCacheSize"         value="" />
          <!--
                Maximum sort buffer size in bytes.
                When sorting operations are performed for operations like index building,
                this is the maximum memory in bytes that will be used for a sort buffer.
                Increasing this number may speed up very large sorts.
                Cannot be set to less than 32K (32*1024).
                Default is currently 12M (12*1024*1024).
          -->
          <add key="blackfishsql.maxSortBuffer"        value="" />
          <!--
                Specify directory for temp files.  Used for operations like large sorts.
                If this is not set, the directory of the database
                will be used for temporary files.
           -->
          <add key="blackfishsql.tempDir"              value="" />
          <!--
                If this directory location is specified, this is the only directory searched
                for license files.
          -->
          <add key="blackfishsql.licenseDirectory"     value="" />
          <!--
                Specify the port to communicate with a remote server.
                Default is 2508.
          -->
          <add key="blackfishsql.port"                 value="2508" />
          <!--
                If this directory location is specified, this will be used to replace the
                macro |DataDirectory| at the beginning of a database file name specification.
          -->
          <add key="blackfishsql.dataDirectory"        value="" />
          <!--
                Log file used for all open databases to log status, errors, and execution.
                If this property is set to "con", the log output will go to the standard output.
          -->
          <add key="blackfishsql.logFile"              value="" />
          <!--
               Enable logging for the specified events.
               This property can be set to one of two types of values:

               1) List of comma separated <code>LogFilter</code> String values.
               2) The string representation of the one or more LogFilterCodes
               that have been or'd together before converted to a String value.

               LogFilterCodes class documentation for a filter codes that can be or'd together that can be applied.
               LogFilter class documentation for a list of filters that can be applied.
          -->
          <add key="blackfishsql.logFilters"           value="INIT,CONNECT,PREPARE,SET_PARAMETER,EXECUTE,TRANSACTIONS,ERRORS,LOCK_ERRORS,SYSTEM" />
          <!--
               This is only used by Blackfish SQL on the .net platform to specify
               additional locations for the assemblies that contain stored procedures
               and triggers.  If the assembly cannot be loaded from the GAC or application
               directory, the following search will be performed.  1) If assemblyPath is set
               to "none", no other directories will be searched.  2) If the assemblyPath is
               set to one or more semicolon separated paths, these paths will all be searched
               for the assembly.  3) If the assemblyPath is not set to "none" and the assembly
               was not found in step number 2, the path specified by the BDSCOMMONDIR environment variable
               will be searched.
          -->
          <add key="blackfishsql.assemblyPath"          value="" />
          <!--
               This value can be set to either "SyncFlush" or "SyncWrite".  SyncFlush will use the
               windows FlushFileBuffers in kernel32.dll via pinvoke to make write operations durable.
               SyncWrite does not make pinvoke calls to any native windows method and is more portable for
               for the mono platform.  SyncWrite uses synchronous write operations to make writes
               durable.  SyncFlush is the default setting for the microsoft .net framework.  SyncFlush
               will also work for mono running on the windows platform.  SyncWrite is the default setting
               for mono.  SyncWrite will work on windows and all platforms supported my mono.  For bulk database
               load operations, SyncFlush tends to be faster.  For applications that commit frequently,
               SyncWrite tends to be faster.  SyncWrite also tends to be faster when the database is in
               a directory with many files.
          -->
          <add key="blackfishsql.fileio"          value="" />
  </appSettings>
</configuration>
