<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="DialectConfigurationSection"
             type="Borland.Data.TDialectConfigurationSection, Borland.Data.DBXCommonDriver, Version=14.0.0.0, Culture=neutral, PublicKeyToken=91d62ebb5b0d1b1b" />
    <section name="ADONet"
             type="Borland.Data.Explorer.ADONetSection, Borland.Data.Explorer, Version=14.0.0.0, Culture=neutral, PublicKeyToken=91d62ebb5b0d1b1b" />
  </configSections>
  <DialectConfigurationSection>
    <MetaDataDialects>
      <Dialect ProductName="MSSQL" DialectType="Borland.Data.TDBXMsSqlMetaDataWriter, Borland.Data.DBXMSSQLDriver, Version=14.0.0.0, Culture=neutral, PublicKeyToken=91d62ebb5b0d1b1b"/>
      <Dialect ProductName="Microsoft SQL Server" DialectType="Borland.Data.TDBXMsSqlMetaDataWriter, Borland.Data.DBXMSSQLDriver, Version=14.0.0.0, Culture=neutral, PublicKeyToken=91d62ebb5b0d1b1b"/>
      <Dialect ProductName="BlackfishSQL for .NET" DialectType="Borland.Data.TDBXDataStoreMetaDataWriter, Borland.Data.DBXClientDriver, Version=14.0.0.0, Culture=neutral, PublicKeyToken=91d62ebb5b0d1b1b"/>
      <Dialect ProductName="BlackfishSQL" DialectType="Borland.Data.TDBXDataStoreMetaDataWriter, Borland.Data.DBXClientDriver, Version=14.0.0.0, Culture=neutral, PublicKeyToken=91d62ebb5b0d1b1b"/>
      <Dialect ProductName="DataSnap" DialectType="Borland.Data.TDBXDataSnapMetaDataWriter, Borland.Data.DBXClientDriver, Version=14.0.0.0, Culture=neutral, PublicKeyToken=91d62ebb5b0d1b1b"/>
      <Dialect ProductName="Oracle" DialectType="Borland.Data.TDBXOracleMetaDataWriter, Borland.Data.DBXOracleDriver, Version=14.0.0.0, Culture=neutral, PublicKeyToken=91d62ebb5b0d1b1b"/>
      <Dialect ProductName="InterBase" DialectType="Borland.Data.TDBXInterbaseMetaDataWriter, Borland.Data.DBXInterBaseDriver, Version=14.0.0.0, Culture=neutral, PublicKeyToken=91d62ebb5b0d1b1b"/>
      <Dialect ProductName="Firebird" DialectType="Borland.Data.TDBXFirebirdMetaDataWriter, Borland.Data.DBXFirebirdDriver, Version=14.0.0.0, Culture=neutral, PublicKeyToken=91d62ebb5b0d1b1b"/>
      <Dialect ProductName="MySQL" DialectType="Borland.Data.TDBXMySqlMetaDataWriter, Borland.Data.DBXMySQLDriver, Version=14.0.0.0, Culture=neutral, PublicKeyToken=91d62ebb5b0d1b1b"/>
      <Dialect ProductName="Db2" DialectType="Borland.Data.TDBXDb2MetaDataWriter, Borland.Data.DBXDb2Driver, Version=14.0.0.0, Culture=neutral, PublicKeyToken=91d62ebb5b0d1b1b"/>
      <Dialect ProductName="Sybase SQL Server" DialectType="Borland.Data.TDBXSybaseASEMetaDataWriter, Borland.Data.DBXSybaseASEDriver, Version=14.0.0.0, Culture=neutral, PublicKeyToken=91d62ebb5b0d1b1b"/>
      <Dialect ProductName="SQL Server" DialectType="Borland.Data.TDBXSybaseASEMetaDataWriter, Borland.Data.DBXSybaseASEDriver, Version=14.0.0.0, Culture=neutral, PublicKeyToken=91d62ebb5b0d1b1b"/>
      <Dialect ProductName="ASE" DialectType="Borland.Data.TDBXSybaseASEMetaDataWriter, Borland.Data.DBXSybaseASEDriver, Version=14.0.0.0, Culture=neutral, PublicKeyToken=91d62ebb5b0d1b1b"/>
      <Dialect ProductName="Adaptive Server Anywhere" DialectType="Borland.Data.TDBXSybaseASAMetaDataWriter, Borland.Data.DBXSybaseASADriver, Version=14.0.0.0, Culture=neutral, PublicKeyToken=91d62ebb5b0d1b1b"/>
      <Dialect ProductName="ASA" DialectType="Borland.Data.TDBXSybaseASAMetaDataWriter, Borland.Data.DBXSybaseASADriver, Version=14.0.0.0, Culture=neutral, PublicKeyToken=91d62ebb5b0d1b1b"/>
      <Dialect ProductName="Informix Dynamic Server" DialectType="Borland.Data.TDBXInformixMetaDataWriter, Borland.Data.DBXInformixDriver, Version=14.0.0.0, Culture=neutral, PublicKeyToken=91d62ebb5b0d1b1b"/>
    </MetaDataDialects>
  </DialectConfigurationSection>
  <ADONet>
    <SupportedProviders>
      <Provider InvariantName="System.Data.OracleClient" />
      <Provider InvariantName="System.Data.SqlClient" />
      <Provider InvariantName="Borland.Data.BlackfishSQL.LocalClient" />
      <Provider InvariantName="Borland.Data.BlackfishSQL.RemoteClient" />
    </SupportedProviders>
  </ADONet>
  <connectionStrings>
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Borland.Data.AdoDbxClient" />
      <add name="AdoDbx Data Provider" invariant="Borland.Data.AdoDbxClient" description=".Net Framework Data Provider for dbExpress Drivers" type="Borland.Data.TAdoDbxProviderFactory, Borland.Data.AdoDbxClient, Version=14.0.0.0, Culture=neutral, PublicKeyToken=91d62ebb5b0d1b1b"/> 
      <remove invariant="Borland.Data.DbxClientDriver" />
      <add name="Datasnap AdoDbx Data Provider" invariant="Borland.Data.DbxClientDriver" description=".Net Framework Data Provider for Datasnap" type="Borland.Data.TAdoDbxDatasnapProviderFactory, Borland.Data.DbxClientDriver, Version=14.0.0.0, Culture=neutral, PublicKeyToken=91d62ebb5b0d1b1b"/>
    </DbProviderFactories>
  </system.data>
</configuration>
