td {
	text-align: left;
	font-family:tahoma;
	font-size:11px;
	color:#AEBFD1;
	line-height:14px;
}

a {text-decoration:underline;
   color:#AEBFD1;}
  
body { 	margin:0px;padding:0px; background:#272E36}

.copy{  font-family:tahoma;
		color:#7F8A93;
		text-decoration:none;
		font-size:11px;}

ul {margin:0; padding:0; list-style:none}
li {background:url(images/a.gif) center left no-repeat; margin:0 0 0 0px; padding:0 0 0 17px; line-height:15px }

.bot_txt {
background-color:#272E36;	
color:#A8A8A8;
font-size:11px;
text-decoration:none}


.white {color:#ffffff; text-decoration:none}

.m {vertical-align:middle}
.sm {font-size:10px}
.l {text-decoration:underline}
.n {text-decoration:none}
.t {text-transform:uppercase}
.big {font-size:11px}
.list {line-height:15px}

.form {
	width:113px;
	height:18px;
	font-family:arial;
	font-size:11px;
	background-color:#5373C4;
	color:#ffffff;
	margin-left:0px;
	margin-right:0px;
	border: 1px outset #3A3F87;
}
		
.textarea { width:113px;
		height:67px;
		font-family:tahoma;
		font-size:11px;
		border-style: solid;
		border-width: 1px;
		border-color:#101318;
		background-color:#333C46;
		color:#ffffff;
		margin-left:0px;
		margin-right:0px}
		

a:hover{text-decoration:none;}
.a:hover{text-decoration:underline;}




.axtar_buton {
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	color:#FFFFFF;
	background: url(images/button.png) no-repeat right center;
	border:inherit;
	
}

.back_button {
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	color:white;
	background: url(images/button2.png) no-repeat right center;
	border:inherit;
}

.movcud_kes_button {
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	color:white;
	background:url(images/headbot.gif) no-repeat right center;
	border:inherit;

}

.bastaki_form {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:normal;
	color: #FFFFFF;
}

.sort {
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	color:white;
	background:url(images/headbot.gif) no-repeat right center;
	border:inherit;
}

.cedvel {
	font-family: Arial,Tahoma, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	border-collapse:collapse;
	border: 1px solid #5373C4;
}
.cedvel_head {
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:11px;
		padding-left     : 1px;
		padding-top:0px;
}