@charset "utf-8";
/* CSS Document */

html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
#map_canvas { height: 100% }
  
#panel{position:absolute; width:1050px; top:3px; left:100px;}

#panel input{ border:solid 1px; background-color:white;}

#panel input:hover{ background-color:#EEE; cursor:hand;}

#showp{border:solid 1px; background-color:white;position:absolute; top:-100px; left:100px;}

#showp:hover{ background-color:#EEE; cursor:hand;}